body {
  font-family: Tahoma, Verdana, Arial, sans-serif;
  font-size: 1.4em;
}

#config-input {
    height: 150px;
}

.month-heading {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 1.5em;
    border-bottom: 1px solid #2aab2a;
    clear: both;
}

.week-name {
    text-align: center;
    font-size: 1.3em;
}

.transaction-view > .name {
    display: inline-block;
    float: left;
}

.transaction-view > .amount {
    text-align: right;
    font-weight: bold;
    padding-right: 3px;
    box-shadow: 0px 0px 3px #999;
}

.transaction-view.expense > .amount,
.transaction-view.net.negative > .amount {
    background-color: #ffcccc;
}

.transaction-view.income > .amount,
.transaction-view.net.positive > .amount {
    background-color: #ccffb6;
}

.day-view {
    box-shadow: -1px -1px 2px #888;
    height: 100px;
}

.day-col {
    width: 12.5%;
    padding-left: 0px;
    padding-right: 0px;
}