html, body {
  height: 100%;
}

#months-container {
    height: 80%;
}

body {
  font-family: Tahoma, Verdana, Arial, sans-serif;
  font-size: 1em;
}

.projected-budget {
  width: 100%;
  height: 50%;
}

.items-container-for-month {
    height: 100%;
}

.month-heading {
    margin-bottom: 2%;
    font-size: 1.5em;
    border-bottom: 2px solid #2aab2a;
    clear: both;
}

.week-heading {
    font-size: 1.1em;
    margin-bottom: .5%;
    border-bottom: 1px solid #999;
}

.transactions-for-week {
}

.transaction-view > .amount {
    text-align: right;
    background-color: cornflowerblue;
    color: white;
}
