body {
  font-family: Tahoma, Verdana, Arial, sans-serif;
  font-size: 1em;
}

.month-heading {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 1.5em;
    border-bottom: 2px solid #2aab2a;
    clear: both;
}

.week-heading {
    font-size: 1.1em;
    margin-bottom: .5%;
    border-bottom: 1px solid #999;
}
.transaction-view > .amount {
    text-align: right;
    font-weight: bold;
    padding-right: 3px;
}

.transaction-view.expense > .amount {
    background-color: #f2dede;
    box-shadow: 1px 0 2px #777;
}

.transaction-view.income > .amount {
    background-color: #dff0d8;
    box-shadow: 1px 0 2px #777;
}

.weeks .week-name {
    border-bottom: 1px solid black;
}

.day-view {
    border-bottom: 1px solid black;
    height: 100px;

}