body {
    font-family: Tahoma, Verdana, Arial, sans-serif;
}
body,
body p,
body input.form-control,
body select.form-control,
body textarea.form-control {
    font-size: 16px;
}
h1, .tab-nav-bar, .container {
    min-width: 640px;
}
/* nav */
.tab-nav-bar {
    padding-top: 3px;
    padding-bottom: 7px;
    background: rgba(230,230,230,0.8);
}
.tab-nav-bar .ac-gn-item{
    display: inline-block;
}
.tab-nav-bar .tab-nav-item {
    font-size: 1.5em;
    color: #000;
    text-decoration: underline;
}
.tab-nav-bar .tab-nav-item:not(:first-child) {
    padding-left: 2%;
}
h1, h2, h3, .month-heading {
    font-family: "Trebuchet MS";
}

h1 {
    color: #ffffff;
    margin: 0px;
    padding-left: 1%;
    font-size: 3em;
    background-color: #885c13;
}

h2, h3, h4 {
    font-weight: 700;
}

h3, h4 {
    color: #885c13;
}

h2, .month-heading {
    font-size: 2em;
    margin-top: 15px;
    margin-bottom: 15px;
    clear: both;
    color: #cc9900;
}

h3 {
    font-size: 1.5em;
    height: 30px;
}

h3 > .btn-success {
    border-radius: 2px;
}

h4 {
    font-size: 1.1em;
    height: 30px;
}

#header.container:before,
#header.container:after {
    content: normal;
}

.allocation {
    font-weight: bold;
}
.subtotal,
.subtotal-amount {
    font-weight: bold;
    border-bottom: 1px solid black;
    margin-bottom: 20px;
}
.subtotal-amount,
.total-amount{
    text-align: right;
}
.total,
.total-amount {
    border-bottom: 6px double;
}
.subtotal-line {
    border-bottom: 1px solid black;
}
.allocation {
    border-bottom: 1px solid black;
}
.tree-view {
    cursor: pointer;
}
#header .alert-warning {
    margin-top: 10px;
    margin-bottom: 0px;
}

#command-buttons-container > span {
    display: inline-block;
    float: right;
    cursor: pointer;
    margin-right: 15px;
}

.command-button > span {
    font-size: .8em;
}

#input-form > .form-label {
    clear: left;
}

#input-form .btn-primary {
    margin-top: 15px;
    margin-bottom: 15px;
}

.transaction-input-view {
    margin-bottom: 10px;
}

.transaction-input-view .date {
    width: 100%;
}

/* with a budget */
.transaction-input-view.actual-expense-item .amount {
    width: 100%;
}

.transaction-input-view.actual-expense-item .date {
    width: 24%;
}

.transaction-input-view.actual-expense-item .name {
    width: 38%;
}

.transaction-input-view.actual-expense-item .budget {
    width: 38%;
}

.payment-source-appended-to-name {
    font-style: italic;
    font-size: 14px;
}

.table-header-row {
    font-weight: bold;
    text-align: center;
    margin-bottom: 5px;
}

.add-remove-btn {
    width: 100%;
    height: 40px;
}

.transaction-input-view > .remove,
.remove {
    background-color: #d9534f;
    color: white;
    cursor: pointer;
}

.transaction-input-view > .remove:hover,
.remove:hover {
    background-color: #c9302c;
    border-color: #ac2925;
}

.amount-description-column {
    height: 40px;
}

.transferring {
    background-color: blanchedalmond;
    padding: 15px;
    margin-bottom: 15px;
}

.group-row {
    height: 60px;
    display: flex;
    align-items: center;
}

.vertical-align {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.inline-group {
    display: inline-block;
    width: auto;
}

.items-container-for-month > .row {
    margin-left: auto;
    margin-right: auto;
}

/* accounts */
.capitalize-first:first-letter {
    text-transform:capitalize;
}

.account-row {
    margin-bottom: 10px;
}

/* transfer */
.btn.cancel {
    margin-left: 15px;
}

/* calendar */
.month-heading {
    font-size: 2em;
    margin-top: 15px;
    margin-bottom: 15px;
    clear: both;
    color: #885c13;
}

.month-heading-total {
    font-weight: bold;
}

.week-name {
    text-align: center;
    font-size: 1.2em;
}

.transaction-view > .name {
    display: inline-block;
    float: left;
}

.transaction-view > .amount {
    text-align: right;
    padding-right: 3px;
    box-shadow: 0px 0px 3px #999;
}

.transaction-view.expense,
.transaction-view.net.negative {
    background-color: #ffcccc;
}

.transaction-view.expense.budgeted,
.transaction-view.expense.budgeted {
    background-color: #fbfbba;
}

.transaction-view.income,
.transaction-view.net.positive {
    background-color: #ccffb6;
}

.day-view {
    box-shadow: -1px -1px 2px #888;
    min-height: 100px;
}

.totals-view {
    font-weight: bold;
}

.day-col {
    width: 14.1%;
    padding-left: 0px;
    padding-right: 0px;
}

.day-view > .calendar-day-number {
    font-size: .7em;
    font-weight: bold;
}

.day-view.out-of-month {
    background-color: #eee;
}

.day-view.out-of-month > .calendar-day-number {
    color: #888;
}

/* bootstrap 4 */
.col-form-label-lg {
    padding-top: calc(.5rem + 1px);
    padding-bottom: calc(.5rem + 1px);
    font-size: 1.25rem;
    line-height: 1.5;
}
.col-form-label {
    padding-top: calc(.375rem + 1px);
    padding-bottom: calc(.375rem + 1px);
    margin-bottom: 0;
    font-size: inherit;
    line-height: 1.5;
}

.font-italic {
    font-style: italic;
}

.transactions-for-week {
    display: flex;
}

.transaction-input-view.monthly-expense-item input.amount,
.transaction-input-view.weekly-expense-item input.amount{
    background-color: #f2dede;
}

.transaction-input-view.monthly-income-item input.amount,
.transaction-input-view.weekly-income-item input.amount {
    background-color: #ccffb6
}

/* vertical align*/
.display-flex {
    display: flex;
}

.display-flex-valign-bottom {
    align-self: flex-end;
}

/* balance sheet */

.dotted-underline {
    border-bottom: 1px dotted black;
}

.dotted-underline-row > div:first-child {
    padding-right: 0px;
}

.dotted-underline-row > div:nth-child(2) {
    padding-left: 0px;
}

/* Printing */
@media print
{
    .no-print, .no-print *
    {
        display: none !important;
    }
}